<footer id="footer">
    <div class="upper-container">
        <div class="upper">
            <div class="info">
                <p class="main">Play now at</p><a class="play play-clip btn toggle-tooltip">{{ webstore_config.serverIP }}</a>
                <p>{{ webstore_config.text.footerDesc }}</p>
            </div>

            <a href="/"><img src="/{{ webstore.logo }}" /></a>
        </div>
    </div>

    <div class="lower-container">
        <div class="lower">
            <div class="copyright">
                <p>Copyright © 2020 {{ webstore_config.serverName }}. All Rights Reserved.</p>
            </div>
            <nav class="footer-nav">
                <ul>
            
                    
                    <li><a class="a-concealed" href="#">To top</a></li>
                    <li><a href="/terms-and-conditions">{{ language.translations.terms_and_conditions }}</a></li>
                    <li><a href="/privacy-policy">{{ language.translations.privacy_policy }}</a></li>
                    <li class="language">
                        <div class="dropdown dropup">
                            <a href="#" class="a-concealed dropdown-toggle" data-toggle="dropdown">{{ language.translations.language }}</a>
                            <ul class="dropdown-menu up">
                                <li><a href="/language/bg_BG?next={% firstof request.path '/' %}">Bulgarian <div class="float-right">{% if request.session.language %}{% if request.session.language == 'bg_BG' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/nl_NL?next={% firstof request.path '/' %}">Dutch <div class="float-right">{% if request.session.language %}{% if request.session.language == 'nl_NL' %}<i class="fa fa-check"></i>{% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/en_IE?next={% firstof request.path '/' %}">English <div class="float-right">{% if request.session.language %}{% if request.session.language == 'en_IE' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/et_EE?next={% firstof request.path '/' %}">Estonian <div class="float-right">{% if request.session.language %}{% if request.session.language == 'et_EE' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/fi_FI?next={% firstof request.path '/' %}">Finnish <div class="float-right">{% if request.session.language %}{% if request.session.language == 'fi_FI' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/fr_FR?next={% firstof request.path '/' %}">French <div class="float-right">{% if request.session.language %}{% if request.session.language == 'fr_FR' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div>
                                <li><a href="/language/de_DE?next={% firstof request.path '/' %}">German <div class="float-right">{% if request.session.language %}{% if request.session.language == 'de_DE' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/is_IS?next={% firstof request.path '/' %}">Icelandic <div class="float-right">{% if request.session.language %}{% if request.session.language == 'is_IS' %}<i class="fa fa-check"></i>{% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/it_IT?next={% firstof request.path '/' %}">Italian <div class="float-right">{% if request.session.language %}{% if request.session.language == 'it_IT' %}<i class="fa fa-check"></i>{% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/pt_PT?next={% firstof request.path '/' %}">Portuguese <div class="float-right">{% if request.session.language %}{% if request.session.language == 'pt_PT' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/ro_RO?next={% firstof request.path '/' %}">Romanian <div class="float-right">{% if request.session.language %}{% if request.session.language == 'ro_RO' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                                <li><a href="/language/es_ES?next={% firstof request.path '/' %}">Spanish <div class="float-right">{% if request.session.language %}{% if request.session.language == 'es_ES' %}<i class="fa fa-check"></i> {% endif %}{% endif %}</div></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    	<div class="extra-container">
		<div class="lower">
                <p style="font-size: 10px;">Verve Theme by  <a href="http://mcdermott.xyz" style="background: transparent; margin-top: 0px;  margin-left: 3px;">McDermott.xyz</a></p>
                <p style="font-size: 10px; float:right;">Powered by <a href="http://donationstore.net" style="background: transparent; margin-top: 0px;  margin-left: 3px;">Donation Store</a></p>
            
			
		</div>
	</div>
</footer>
