{# Loading the required template tags #}
{% load cart %}

{% load currency %}
<header id="header">
    <div class="p-head-inner">
        <nav data-mobile="false">
            <div class="decus-mobile-menu-wrapper">
                <div class="decus-mobile-menu">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav-left">
                <div class="go-back"><a href="https://visengaming.com/" type="button" class="item"><span class="fas fa-arrow-left"></span> Home Site</a>
                </div>
            </div>

            <div class="nav-middle">
                <div class="left">
                    <a class="item" href="#">Home</a>
                    <a class="item" href="#">Forums</a>
                </div>
                <div class="storeBtn-container">
                    <a class="item highlight" href="/">Store</a>
                </div>
                <div class="right">
                    <a class="item" href="#">Members</a>
                    <a class="item" href="#">Rules</a>
                </div>
            </div>

            <div class="nav-right">
                <div class="currency-selector">
                    <a type="button" class="item dropdown-toggle" data-toggle="dropdown">
                        {% if request.session.chosen_currency %} {{ request.session.chosen_currency }}{% else %}{{ webstore.currency }}{% endif %} <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/currency/AUD?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'AUD' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}AUD</a></li>
                        <li><a href="/currency/BRL?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'BRL' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}BRL</a></li>
                        <li><a href="/currency/CAD?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'CAD' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}CAD</a></li>
                        <li><a href="/currency/CHF?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'CHF' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}CHF</a></li>
                        <li><a href="/currency/CNY?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'CNY' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}CNY</a></li>
                        <li><a href="/currency/CZK?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'CZK' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}CZK</a></li>
                        <li><a href="/currency/DKK?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'DKK' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}DKK</a></li>
                        <li><a href="/currency/EUR?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'EUR' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}EUR</a></li>
                        <li><a href="/currency/GBP?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'GBP' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}GBP</a></li>
                        <li><a href="/currency/HKD?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'HKD' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}HKD</a></li>
                        <li><a href="/currency/HUF?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'HUF' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}HUF</a></li>
                        <li><a href="/currency/ILS?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'ILS' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}ILS</a></li>
                        <li><a href="/currency/JPY?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'JPY' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}JPY</a></li>
                        <li><a href="/currency/MXN?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'MXN' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}MXN</a></li>
                        <li><a href="/currency/MYR?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'MYR' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}MYR</a></li>
                        <li><a href="/currency/NOK?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'NOK' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}NOK</a></li>
                        <li><a href="/currency/NZD?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'NZD' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}NZD</a></li>
                        <li><a href="/currency/PHP?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'PHP' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}PHP</a></li>
                        <li><a href="/currency/PLN?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'PLN' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}PLN</a></li>
                        <li><a href="/currency/RUB?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'RUB' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}RUB</a></li>
                        <li><a href="/currency/SEK?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'SEK' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}SEK</a></li>
                        <li><a href="/currency/SGD?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'SGD' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}SGD</a></li>
                        <li><a href="/currency/THB?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'THB' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}THB</a></li>
                        <li><a href="/currency/TRY?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'TRY' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}TRY</a></li>
                        <li><a href="/currency/USD?next={% firstof request.path '/' %}">{% if request.session.chosen_currency == 'USD' %}<div class="float-right"><i class="fa fa-check"></i></div>{% endif %}USD</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="logo-row">
            <div class="logo-row-inner">
                <div class="play">
                    <div id="mc-server" class="play-inner play-clip toggle-tooltip">
                        <div class="text">
                            <span class="top" id="server-ip">
                                {{ webstore_config.serverIP }}
                            </span>
                            <span class="bottom">
                                join <span class="counter">0</span> players
                            </span>
                        </div>
                        <div class="icon">
                            <i class="fas fa-gamepad"></i>
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <a href="/">
                        <img src="/{{ webstore.logo }}" />
                    </a>
                </div>
                <div class="discord-container">
                    <a href="{{ webstore_config.discordInvite }}" target="_blank">
                        <div class="discord">
                            <div class="text">
                                <span class="top">
                                    discord server
                                </span>
                                <span class="bottom">
                                    join <span class="discord-count">0</span> users
                                </span>
                            </div>
                            <div class="icon">
                                <i class="fab fa-discord"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="curve-container">
        <svg class="curve" xmlns="http://www.w3.org/2000/svg" width="1440" height="40" viewBox="0 0 1440 40">
            <path d="M0,27.01C239.659,7,479.143,0,718.453,0S1198.28,7,1440,27.01V40H0Z" fill-rule="evenodd"></path>
        </svg>
    </div>
</header>

<!-- Break -->


<!-- If Advertised Sale on Everything -->
{% if sales_data.everything_on_sale %}
<div class="alert alert-success" role="alert">
    {{ language.translations.sale_on_everything }}
</div>
{% endif %}
<!-- End If Advertised Sale on Everything -->


<!-- Break -->
