{% extends "store/verve/base.html" %}

{% block title %}{{ webstore.name }} | {{ page.title }}{% endblock %}

{# Loading the required template tags #}
{% load cart %}

{% load currency %}

{% block content %}

{% include 'store/verve/nav.html' %}

<!-- Break -->
<br />
<div class="decus-wrapper">
    {% include 'store/verve/rohan-nav.html' %}


    <div class="body">
        <!-- Main Login Content -->
        <div class="content">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}




            <div class="panel panel-default">
                <div class="panel-heading">{{ language.translations.requires_password }}</div>
                <div class="panel-body">
                    <form name="page_password_protect" action="" method="post">

                        <div class="input-group">
                            <input class="form-control input-lg form-control-lg" type="password" name="password" placeholder="{{ language.translations.enter_password }}" required>
                            <div class="input-group-append input-group-btn">

                                <input type="submit" class="btn btn-success btn-lg" value="{{ language.translations.enter }}">
                            </div>
                        </div>

                        {% csrf_token %}

                    </form>

                </div>
            </div>


            <!--
                <div class="col-md-4">
                    {% for module in modules %}
                    {% if module.on_homepage %}
                    {% if module.content_type.model == 'serverstatusmodule' %}
                    {# Now we know it's a server status module. Let's check if the server is online first #}
                    {% autoescape off %}{% check_server_status language module %}{% endautoescape %}
                    {% else %}
                    <div class="card">
                        <div class="card-header">
                            {{ module.header }}
                        </div>
                        <div class="card-body">
                            {% if gift_card %}
                            {% autoescape off %}{% render_module module gift_card %}{% endautoescape %}
                            {% else %}
                            {% autoescape off %}{% render_module module %}{% endautoescape %}
                            {% endif %}
                        </div>
                    </div>
                    <br />
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
-->
        </div>
    </div>
</div>
<!-- End Main Login Content -->

{% include 'store/verve/footer.html' %}

{% endblock %}
