{% extends "store/verve/base.html" %}

{% block title %}{{ webstore.name }} | {{ page.title }}{% endblock %}

{# Loading the required template tags #}
{% load cart %}

{% load modules %}

{% load currency %}

{% block content %}

{% include 'store/verve/nav.html' %}

<!-- Break -->
<br />

<div class="decus-wrapper">
    {% include 'store/verve/rohan-nav.html' %}


    <div class="body">
        <div class="content">
            <!-- Main Login Content -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="row">
                {% if page.layout == 'L' %}
                <div class="col-md-4">
                    {% for module in page.column1.all %}
                    {% include module|template %}
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    {% for module in page.column3.all %}
                    {% include module|template %}
                    {% endfor %}
                </div>
                {% elif page.layout == 'R' %}
                <div class="col-md-8">
                    {% for module in page.column1.all %}
                    {% include module|template %}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% for module in page.column3.all %}
                    {% include module|template %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-md-4">
                    {% for module in page.column1.all %}
                    {% include module|template %}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% for module in page.column2.all %}
                    {% include module|template %}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% for module in page.column3.all %}
                    {% include module|template %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>

        </div>
        <!-- End Main Login Content -->
    </div>
</div>
{% include 'store/verve/footer.html' %}

{% endblock %}
